<div class="modal-overlay modal-overlay--hidden" id="WELCOME_MODAL">
  <div class="modal" role="dialog" aria-modal="true" aria-labelledby="WELCOME_TITLE">
    <h2 class="modal__title" id="WELCOME_TITLE">Welcome to Donezo!</h2>
    <p class="welcome__description">A simple offline-first kanban board to help you stay organised. We've added some sample tasks to help you explore.</p>
    <div class="modal__actions">
      <button class="modal__btn modal__btn--confirm" id="WELCOME_START">Get Started</button>
    </div>
  </div>
</div>
